<!DOCTYPE html>
<html lang="en">

    <head>
        {include="header"}
    </head>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container">
                        <div class="header-left">
                            <div class="header-dropdown">
                                <a href="#"><img src="data/langs/{$ActiveLang.picture}" />&nbsp;{$ActiveLang.name}</a>
                                <div class="header-menu">
                                    <ul>
                                        {loop="$LANGS"}
                                        <li><a class="" href="{$value.url}"><img src="data/langs/{$value.picture}" />&nbsp;{$value.name}</a></li>
                                        {/loop}
                                    </ul>
                                </div><!-- End .header-menu -->
                            </div><!-- End .header-dropdown -->
                        </div><!-- End .header-left -->



                        <div class="header-right  Mobile-account ">
                            <div class="header-dropdown">
                                <a class="Mobile-account-button" href="javascript:;"><i class="icon-user"></i></a>
                                <div class="header-menu">
                                    <ul>
                                        <!--
                                        <li><a href="tel:{$settings.company_phone}"><i class="icon-phone"></i>
                                        {$lang.telefon}: {$settings.company_phone}</a>
                                        </li>
                                        -->


                                        {if="$user.id"}
                                        <!--<li><a href="{#BASEURL#}user/dashboard"><i class="icon-user"></i> {$lang.hesabim}</a></li>-->
                                        <!--
                                        <li class="nav-item">
                                        <a class='nav-link {if="$active_menu=='alarm'"}active{/if}' href="{#BASEURL#}user/alarm">{$lang.alarmsistemi}</a>
                                        </li>
                                        -->
                                        <li  class="nav-item"><a class='nav-link' href="{#BASEURL#}user/alarm">{$lang.alarmsistemi}</a></li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='peylerim'"}active{/if}' href="{#BASEURL#}user/peylerim">{$lang.peylerim}</a>
                                        </li>
                                        <li  class="nav-item"><a class='nav-link {if="$active_menu=='wishlist'"}active{/if}' href="{#BASEURL#}user/wishlist">{$lang.favorilistem}</a></li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='winners'"}active{/if}' href="{#BASEURL#}user/winners">{$lang.kazandiklarim}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='selling'"}active{/if}' href="{#BASEURL#}user/selling">{$lang.satistakiurunler}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='orders'"}active{/if}' href="{#BASEURL#}user/orders">{$lang.siparislerim}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='address'"}active{/if}' href="{#BASEURL#}user/address">{$lang.adresbilgileri}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class='nav-link {if="$active_menu=='dashboard'"}active{/if}' href="{#BASEURL#}user/dashboard">{$lang.hesabim}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{#BASEURL#}user/logout">{$lang.guvenlicikis}</a>
                                        </li>
                                        <!--  <li><a href="{#BASEURL#}user/logout"><i class="fas fa-sign-out-alt"></i> {$lang.guvenlicikis}</a></li>-->
                                        {else}
                                        <li><a href="{#BASEURL#}user/login"><i class="icon-user"></i>{$lang.uyegirisi}</a></li>
                                        <li><a href="{#BASEURL#}user/register"><i class="icon-user"></i>{$lang.uyeol}</a></li>
                                        <li><a href="{#BASEURL#}user/wishlist"><i class="icon-heart-o"></i>{$lang.favorilistem}</a></li>
                                        <li><a href="{#BASEURL#}user/alarm"><i class="fa fa-bell"></i>{$lang.alarmsistemi}</a></li>
                                        {/if}

                                    </ul>
                                </div><!-- End .header-menu -->
                            </div><!-- End .header-dropdown -->
                        </div><!-- End .header-left -->



                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">


                            <a href="{#BASEURL#}" class="logo" style="margin: 0; margin-top:0.55rem">
                                <img src="data/uploads/{$settings.logo}" alt="{$settings.seo_title}" style="margin: 0;" >
                            </a>
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>
                            <button class="mobile-menu-search mobile">
                                <i class="icon-search"></i>
                            </button>
                        </div><!-- End .header-left -->
                        <div class="header-right">
                            <div class="header-search">
                                <form action="{#BASEURL#}search" method="get" id="sform">
                                    <a href="javascript:;" onclick="$('#sform').submit();" type="submit" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                                    <div class="header-search-wrapper show">
                                        <label for="q" class="sr-only">{$lang.arama}</label>
                                        <input type="search" class="form-control" name="q" id="q" placeholder="{$lang.aramakelimesi}" required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                        </div>
                    </div><!-- End .container -->
                    <div class="menu-header">
                        <div class="container">
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <!--
                                    <li class="mobile"><a href="tel:{$settings.company_phone}"><i class="icon-phone"></i>
                                    {$lang.telefon}: {$settings.company_phone}</a>
                                    </li>

                                    {if="$user.id"}
                                    <li class="mobile"><a href="{#BASEURL#}user/dashboard"><i class="icon-user"></i> {$lang.hesabim}</a></li>
                                    <li class="mobile"><a href="{#BASEURL#}user/logout"><i class="fas fa-sign-out-alt"></i> {$lang.guvenlicikis}</a></li>
                                    {else}
                                    <li class="mobile"><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>{$lang.uyegirisi}</a></li>
                                    {/if}
                                    <li class="mobile"><a href="{#BASEURL#}user/wishlist"><i class="icon-heart-o"></i>{$lang.favorilistem}</a></li>
                                    <li class="mobile"><a href="{#BASEURL#}user/alarm"><i class="fa fa-bell"></i>{$lang.alarmsistemi}</a></li>
                                    -->
                                    <li class="megamenu-container">
                                        <a href="{#BASEURL#}">{$lang.anasayfa}</a>
                                    </li>
                                    {$topmenuhtml}
                                    <li><a href="{#BASEURL#}muzayede-arsivi">{$lang.muzayedearsivi}</a></li>
                                    <li><a href="{#BASEURL#}ekspertiz-formu">{$lang.ekspertizformu}</a></li>
                                    <li><a href="{#BASEURL#}iletisim">{$lang.iletisim}</a></li>



                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->
            <main class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="text-center">
                                <h3>Yaşanılan aşırı yoğunluk sebebi ile müzayedemiz 26.10.2020 21:00 a ertelenmiştir. Bu durumdan dolayı herkesten özür dileriz.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                {include="footer"}
            </footer><!-- End .footer -->

        </div><!-- End .page-wrapper -->
    </body>
</html>