<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{#BASEURL#}">{$lang.anasayfa}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{$lang.sayfabulunamadi}</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <div class="Category row">
            <div class="col-12 text-center">
                <h5>{$lang.sayfabulunamadi}</h5>
                <p>{$lang.sayfabulunamaditext}</p>
            </div><!-- End .col-lg-9 -->

        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->