<form class="contact-form mb-3" method="post">
    <div class="row">
        <div class="col-sm-6">
            <label for="cname" class="sr-only">{$lang.adiniz} {$lang.soyadiniz}</label>
            <input type="text" class="form-control" id="name" required name="i[name]" placeholder="{$lang.adiniz} {$lang.soyadiniz} *">
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
            <label for="cemail" class="sr-only">{$lang.emailadresi} </label>
            <input type="email" class="form-control" id="cemail" placeholder="{$lang.emailadresi} *" required name="i[email]">
        </div><!-- End .col-sm-6 -->
    </div><!-- End .row -->

    <div class="row">
        <div class="col-sm-6">
            <label for="cphone" class="sr-only">{$lang.telefon}</label>
            <input type="tel" class="form-control" id="cphone" placeholder="{$lang.telefon}" name="i[phone]">
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
            <label for="csubject" class="sr-only">{$lang.konu}</label>
            <input type="text" class="form-control" id="csubject" value="{$data.name}" placeholder="{$lang.konu}" name="i[subject]">
        </div><!-- End .col-sm-6 -->
    </div><!-- End .row -->

    <label for="cmessage" class="sr-only">{$lang.mesajiniz}</label>
    <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="{$lang.mesajiniz} *" name="i[message]"></textarea>

    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
        <span>{$lang.gonder}</span>
        <i class="icon-long-arrow-right"></i>
    </button>
</form><!-- End .contact-form -->