<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{#BASEURL#}">{$lang.anasayfa}</a></li>
            <li class="breadcrumb-item"><a href="{#BASEURL#}user/dashboard">{$lang.hesabim}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{$lang.satistakiurunler}</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="orders">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 desktop col-lg-3">
                    {include="user_menu"}
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">

                    {$info}
                    {if="$data"}
                    {loop="$data"}
                    <div class="sticky-content">
                        <div class="sticky-header sheader" data-auction-id="{$value.info.id}" data-loaded="0" data-type="sell">

                        <div class="inner">
                                <h1>{$value.info.name}</h1>
                                <div class="left cdown">

                                    <div class="remaining" data-livehas="1" data-status="{$value.info.status}" data-live="{$value.info.live_url}" data-date="{$value.info.date}" data-id="{$value.info.id}">

                                        <p class="auction-completed" style="display:none;"><span><strong>{$lang.tamamlandi}</strong></span> {$value.info.end_date}</p>
                                        <p class="auction-finish-date" style="display:none;"><span><strong>{$lang.kapanis}</strong></span> {$value.info.end_date}</p>

                                        <p class="auction-live-date" style="display:none;">
                                            <a class="h-a-r-r"><span class="red">{$lang.canli}</span> {$value.info.start_live}</a>
                                        </p>

                                        <p class="auction-live-now" style="display:none;">
                                            <a class="h-a-r-r live-now"><span class="red">{$lang.simdicanli}</span></a>
                                        </p>

                                        <p class="auction-countdown" style="display:none;">
                                            <strong>{$lang.kalansure}</strong> <span data-countdown></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="inner">
                                        <a href="{$value.info.url}" target="_blank" title="Müzayede Listesine Git" data-tooltip="" data-auction-url=""><span class="list-btn"><i class="fas fa-list"></i></span></a>
                                        <span class="losings-btn" title="Satılmayanlar" data-tooltip="">{$value.lost|intval}</span>
                                        <span class="vinings-btn" title="Satılanlar" data-tooltip="">{$value.win|intval}</span>
                                        <span class="info-btn"  title="Mali Durum" data-toggle="ajaxModal" data-remote="{#BASEURL#}auctions/seller/{$value.info.id}">
                                            <i class="fas fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products-list products sticky-detail"></div>
                    </div>
                    {/loop}
                    {else}
                    <div class="alert alert-warning">{$lang.nosearchpro}</div>
                    {/if}

                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->
<style type="text/css">
    .sticky-content {
        width: 100%;
        margin-bottom: 24px;
    }

    .sticky-content-helper {
        position: fixed;
        height: 40px;
        background-color: white;
        width: auto;
        width: 100%;
        z-index: 11;
        top: calc(var(--header-logo-height) + var(--header-menu-height));
    }

    .sticky-header {
        cursor: pointer;
        width: 100%;
        position: sticky;
        position: -webkit-sticky;
        top: calc(var(--header-logo-height) + var(--header-menu-height) + 40px);
        z-index: 11;
        background-color: white;
        transition: background-color 0.8s ease;
    }

    .sticky-header.selected {
        background-color: #f3f3f3;
    }

    .sticky-header:hover h1::before {
        color: black;
    }

    .sticky-header>.inner {
        padding: 10px 16px;
        border-radius: 4px;
        border: 1px solid #efefef;
        border-radius: 4px 4px 0 0;
        display: grid;
        grid-template-columns: auto auto min-content;
        grid-template-areas: "g-h g-h g-r" "g-l . g-r";
    }

    .sticky-header h1 {
        grid-area: g-h;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 6px;
        margin-top: 0;
        font-size: 22px;
    }

    .sticky-header h1::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f0fe";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 6px;
        color: rgb(165, 165, 165);
    }

    .sticky-header.selected h1::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f146";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 6px;
    color: rgb(165, 165, 165);
}



    .sticky-header .inner .left {
        grid-area: g-l;
    }

    .sticky-header .inner .left>p, .sticky-header .inner .left>a {
        margin: 0;
        display: inline-block;
        margin-right: 20px;
    }

    .sticky-header .inner .left .remaining>p, .sticky-header .inner .left .remaining>a {
        margin: 0;
        display: inline-block;
        margin-right: 20px;
    }

    .sticky-header .inner .right {
        grid-area: g-r;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sticky-header .inner .right .inner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .sticky-header .inner .right span {
        margin: 4px;
        padding: 4px;
        border-radius: 99px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        min-width: 24px;
        text-align: center;
        display: inline-block;
    }

    .sticky-header .inner .right span.list-btn i {
        margin: 0;
        padding: 0;
    }

    .sticky-header .inner .right span.list-btn {
        border: 1px solid #ccc;
        color: #666;
    }

    .sticky-header .inner .right span.list-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    .sticky-header .inner .right span.vinings-btn {
        border: 1px solid green
    }

    .sticky-header .inner .right span.vinings-btn:hover {
        background-color: green;
        color: white;
    }

    .sticky-header .inner .right span.losings-btn {
        border: 1px solid #B30000
    }

    .sticky-header .inner .right span.losings-btn:hover {
        background-color: #B30000;
        color: white;
    }

    .sticky-header .inner .right span.info-btn {
        border: 1px solid #333
    }

    .sticky-header .inner .right span.info-btn:hover {
        background-color: #333;
        color: white;
    }

    .sticky-header .inner .right span.info-btn i {
        margin: 0;
        padding: 0;
    }

    .sticky-header .remaining {
        display: inline-block;
    }

    .sticky-detail {
        padding: 0 0 0 0;
        border: 1px solid #efefef;
        border-top: none;
        border-radius: 0 0 4px 4px;
        display: none;
    }

    .sticky-detail .loader {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .sticky-content-title {
        display: none;
        padding: 0 16px;
    }

    .products-list.sticky-detail {
        padding: 0 10px;
    }

    .products-list.sticky-detail .item {
        grid-template-columns: 180px auto 200px;
    }

</style>