<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Yorumlar</h3>
        </div>
    </div>
</div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    {$info}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fa fa-certificate"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Yorumları Listele
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">

            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->

            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">

                <div class="row align-items-center">

                    <div class="col-xl-8 order-2 order-xl-1">
                        <form method="get">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Durumu:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control"  name="f[status]">
                                                <option value="all">Tümü</option>
                                                {loop="$Status"}
                                                <option value="{$key}" {if="isset($f.status) && $f.status == $key && $f.status != 'all'"} selected {/if}>{$value|strip_tags}</option>
                                                {/loop}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">

                                        </div>
                                        <div class="kt-form__control">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> ARA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>        <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body">
            <div class="kt-section__content">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Oluşturma Zamanı</th>
                                    <th>Ürün Adı</th>
                                    <th>Üye Adı</th>
                                    <th>Yorum</th>
                                    <th>Puan</th>
                                    <th>Durumu</th>
                                    <th>IP</th>
                                    <th width="100">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                {loop="$data"}
                                <tr>
                                    <td>{$value.id}</td>
                                    <td>{$value.create_date}</td>
                                    <td><a href="{#ADMINBASEURL#}products/edit/{$value.product.id}" target="_blank">{$value.product.name}</a></td>
                                    <td><a href="{#ADMINBASEURL#}customers/edit/{$value.user.id}" data-toggle="ajaxModal">{$value.user.name} ({$value.user.username})</a></td>
                                    <td>{$value.detail}</td>
                                    <td>{$value.rate}</td>
                                    <td>{$value.status_name}</td>
                                    <td>{$value.ipaddress}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            {if="!$value.status"}<a href="{#ADMINBASEURL#}comments/approve/{$value.id}" class="btn btn-success btn-sm" title="Onayla"><i class="fa fa-check"></i></a>{/if}
                                            <a href="{#ADMINBASEURL#}comments/edit/{$value.id}" class="btn btn-primary btn-sm" data-toggle="ajaxModal" title="Düzenle"><i class="fa fa-edit"></i></a>
                                            <a href="{#ADMINBASEURL#}comments/remove/{$value.id}" class="btn btn-danger btn-sm remove" title="Sil"><i class="fa fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        {$pagination}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('select').select2();
</script>