<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Taksit Seçenekleri</h3>
        </div>
    </div>
</div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    {$info}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fa fa-hand-holding-usd"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {$data.pos.name} | Taksit Seçenekleri
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <a href="{#ADMINBASEURL#}payments/pos" class="btn btn-clean kt-margin-r-10">
                        <i class="la la-arrow-left"></i>
                        <span class="kt-hidden-mobile">SanalPOS Bankaları</span>
                    </a>
                    <a href="{#ADMINBASEURL#}payments/installment_add/{$data.pos.id}" data-toggle="ajaxModal"  class="btn btn-success btn-icon-sm">
                        <i class="fa fa-plus"></i>
                        Taksit Ekle
                    </a>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <div class="kt-section__content">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Banka Adı</th>
                                    <th>Taksit Sayısı</th>
                                    <th>Komisyon Oranı</th>
                                    <th width="100">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                {loop="$data.record"}
                                <tr>
                                    <td>{$value.id}</td>
                                    <td>{$data.pos.name}</td>
                                    <td>{$value.installment}</td>
                                    <td>{$value.com}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a href="{#ADMINBASEURL#}payments/installment_edit/{$value.id}" class="btn btn-primary btn-sm" data-toggle="ajaxModal" title="Düzenle"><i class="fa fa-edit"></i></a>
                                            <a href="{#ADMINBASEURL#}payments/installment_remove/{$value.id}" class="btn btn-danger btn-sm remove" title="Sil"><i class="fa fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('select').select2();
</script>