<script src="{#ADMIN_TEMPLATE#}assets/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/jquery/dist/jquery.migrate.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/moment/min/moment.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/moment/locale/tr.js?v{$version}" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/wnumb/wNumb.js" type="text/javascript"></script>

<script src="{#ADMIN_TEMPLATE#}assets/vendors/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/raphael/raphael.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/morris.js/morris.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap-daterangepicker/daterangepicker.js?" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap-sortable/jquery.sortable.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/select2/dist/js/select2.full.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
<script src="{#ADMIN_TEMPLATE#}assets/vendors/summernote/dist/summernote.js" type="text/javascript"></script>

<script src="{#ADMIN_TEMPLATE#}assets/vendors/upload/jquery.filer.js" type="text/javascript"></script>

<script src="{#ADMIN_TEMPLATE#}assets/js/scripts.bundle.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.datetimepickers').datetimepicker({
            locale: 'tr',
            weekStart :1,
            format : 'dd.mm.yyyy hh:ii'
        });
    });
</script>
