<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Raporlar</h3>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    {$info}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fas fa-chart-bar"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Alıcı / Satıcı Raporu
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">

                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->

            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <form method="post" class="kt-form">
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-2 order-xl-12">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group ">
                                        <div class="kt-form__label">
                                            <label>Alıcı:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control"  name="f[buyer]">
                                                <option value="all">Tümü</option>
                                                {loop="$users"}
                                                <option value="{$value.id}" {if="$f.buyer == $value.id"} selected {/if}>{$value.id} - {$value.name} {$value.surname}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group ">
                                        <div class="kt-form__label">
                                            <label>Satıcı:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control"  name="f[seller]">
                                                <option value="all">Tümü</option>
                                                {loop="$users"}
                                                <option value="{$value.id}" {if="$f.seller == $value.id"} selected {/if}>{$value.id} - {$value.name} {$value.surname}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group ">
                                        <div class="kt-form__label">
                                            <label>Müzayede:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control"  name="f[auction_id]">
                                                <option value="all">Tümü</option>
                                                {loop="$auctions"}
                                                <option value="{$value.id}" {if="$f.auction_id == $value.id"} selected {/if}>{$value.id} - {$value.name} ({$value.start_date} - {$value.end_date})</option>
                                                {/loop}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 kt-margin-t-20">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">

                                        </div>
                                        <div class="kt-form__control">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> ARA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>        <!--end: Search Form -->
        </div>
    </div>

    {if="$data.status"}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fas fa-chart-bar"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Rapor Sonucu
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            {if="$data.data"}
            <table class="table">
                <thead>
                <tr>
                    <th>Alıcı ID</th>
                    <th>Alıcı Adı</th>
                    <th>Müzayede Adı</th>
                    <th>Müzayede Tarihi</th>
                    <th>Lot No</th>
                    <th>Satıcı ID</th>
                    <th>Satıcı Adı</th>
                    <th>Pey</th>
                    <th>Pey KDV</th>
                    <th>Komisyon</th>
                    <th>Komisyon KDV</th>
                    <th>Tutar</th>
                </tr>
                </thead>
                <tbody>
                {loop="$data.data"}
                <tr>
                    <td>{$value.sale}</td>
                    <td>{$value.buyer_name} {$value.buyer_surname}</td>
                    <td>{$value.auction_name}</td>
                    <td>{$value.auction_time}</td>
                    <td>{$value.sku}</td>
                    <td>{$value.seller}</td>
                    <td>{$value.seller_name} {$value.seller_surname}</td>
                    <td>{$value.price}</td>
                    <td>{$value.priceKdv}</td>
                    <td>{$value.komm}</td>
                    <td>{$value.kommKdv}</td>
                    <td>{$value.total_price}</td>
                </tr>
                {/loop}
                </tbody>
            </table>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9 text-right">
                            <a href="{#ADMINBASEURL#}reports/buyerseller_excel?{$data.querystring}" target="_blank" class="btn btn-success btn-customer-export"><i class="la la-print"></i> ÇIKTI AL</a>
                        </div>
                    </div>
                </div>
            </div>
            {else}
            <div class="alert alert-warning">Sonuç bulunamadı !</div>
            {/if}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $('select').select2();
    $('.dtrange').daterangepicker({
        buttonClasses: ' btn',
        applyClass: 'btn-primary',
        cancelClass: 'btn-secondary'
    }, function(start, end, label) {
        $('.dtrange .form-control').val( start.format('DD.MM.YYYY') + ' / ' + end.format('DD.MM.YYYY'));
    });

</script>
