<p>Sayın {{NAME}}</p>
<p>{{DATE}} tarihinde yaptığımız <strong>{{MEZAT}}</strong> sonuçları ektedir.</p>
<br>
<p>Kazandığınız ürünlerin toplam tutarını aşağıda belirtilen IBAN numarasına havale/EFT yaptığınız takdirde en geç 1 iş günü sonrası ürünleriniz kargoya verilecektir.
    Eğer arzu ederseniz ofisimize gelerek de ürünlerinizi teslim alabilirsiniz.</p>
<br>
<p><strong>Adresimiz:</strong></p>
<p>
Caferağa Mah. Sakızgülü Sok. Kazdal Apt. No:28 Kat:3 Daire:6
Kadıköy/İstanbul
</p>
<br>
<p>
Müzayedemize katıldığınız için teşekkür ederiz.
</p>
Banka hesap bilgimiz aşağıdaki gibidir:<br>
Şükrü Oral<br>
Finansbank<br>
IBAN: TR08 0011 1000 0000 0097 6073 90<br>
<br>
<p><strong>%18 KDV sadece komisyona eklenmektedir ve komisyon faturası kesilmektedir.</strong></p>
<p><strong>Lütfen ekteki müzayede sonucunda gördüğünüz KDV'li tutarı havale yapınız.</strong></p>